@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
html, body {
  margin: 0;
  //height:100vh;
  position: fixed;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  width: 320px;
  padding: 16px 16px 24px;
  text-align: center;
  box-sizing: border-box;
}
.loader_main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.chat__header {
  position: absolute !important;
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
}
.chat__messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 65px 0 80px 12px;
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/telegramdesktop/tdesktop/dev/Telegram/Resources/art/bg_initial.jpg");
  .chat__scroll-container {
    -webkit-overflow-scrolling: touch;
  }
  .chat__loader {
    transition: all 200ms;
    overflow: hidden;
    opacity: 1;
    height: 48px;
    padding-top: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 12px;
    text-align: center;
    &.hidden {
      opacity: 0;
      height: 0;
    }
  }
  ul {
    margin: 0;
    padding: 16px 20px 20px 0;
    list-style: none;
    //height: 100%;
    box-sizing: border-box;
  }
  .message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    margin-bottom: 8px;
    font-size: 13px;
    .message__container {
      margin-left: 16px;
      min-height: 32px;
      min-width: 108px;
      padding: 8px 16px 20px;
      box-sizing: border-box;
      max-width: 95%;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
      text-align: left;
      position: relative;
    }
    .message__username {
      font-weight: 700;
      color: #2390fe;
      display: block;
      margin-bottom: 2px;
    }
    .message__text {
      color: #222222;
      word-break: break-word;
      img {
        max-width: 100%;
        margin: 4px 0;
      }
    }
    .message__avatar {
      flex-shrink:  0;
      align-self: flex-end;
      text-transform: uppercase;
    }
    .message__date-time {
      position: absolute;
      color: #a1a1a1;
      font-size: 12px;
      font-weight: 500;
      right: 8px;
      bottom: 4px;
    }
    &.message_self {
      flex-direction: row-reverse;
      .message__avatar {
        display: none !important;
      }
      .message__container {
        margin-left: 0;
        background-color: #effdde;
        box-shadow: 0 2px 1px 0 rgba(93,196,82,.5);
      }
    }
  }
  .chat__tobottom {
    position: fixed;
    right: 20px;
    bottom: 120px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(40px);
    transition: all 50ms;
    pointer-events: none;
    padding: 0 !important;
    &.visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: initial;
    }
    .material-icons {
      color: #636363 !important;
    }
  }
}
.chat__input-area {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-right: 6px;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  .chat__text-field {
    overflow: hidden;
    padding-right: 5px;
    flex-grow: 1;
    &>div:nth-child(2) {
      width: auto !important;
      margin-right: -20px;
    }
  }
  .chat__send-button {
    margin-left: 16px;
    flex-shrink: 0;
    color: #999;
    transition: opacity 100ms;
    .material-icons {
      color: inherit !important;
    }
    &:hover {
      opacity: 0.85;
    }
  }
}
@media screen and (max-width: 420px) {
  .container {
    width: 100vw !important;
    min-height: 100vh !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .chat__modal {
    max-width: 100vw !important;
    max-height: 100vh !important;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    transform: translate(0,0) !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    & > div {
      height: 100vh;
    }
    h3 {
      position: absolute;
      padding-left: 12px !important;
      & + div {
        padding: 64px 12px 12px !important;
        height: 100vh !important;
        max-height: 100vh !important;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
      }
    }
    .giphy__scroll-container {
      max-height: 100% !important;
      height: 100% !important;
      flex-grow: 5;
      & > div {
        max-height: 100% !important;
        height: 100% !important;
        overflow-x: hidden;
      }
    }
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .chat__messages {
    padding-bottom: 140px;
  }
}